<!DOCTYPE html>
<html>
<head>
    <title>Spam Detection</title>
    <style>
        body{
            text-align: center;
            background-color: blanchedalmond;
        }
        h1{
            color: red;
        }
        button{
            background-color: orangered;
            color:white
        }
        textarea{
            background-color: rgb(222, 249, 168);
        }
    </style>
</head>
<body>
    <h1>Email Spam Classifier</h1>
    <form method="post" action="/predict">
        <textarea name="content" placeholder="Enter Your Email Body" rows="15" cols="35">{{ email_text }}</textarea>
        <div><button><b>Check Spam</b></button></div><br>
        <a href="/">Reset</a>
    </form>
    <div>
        {% if prediction %}
        {% if prediction == 1 %}
        <h2 style="color: red">Spam</h2>
        {% else %}
        <h2 style="color: green">Not Spam</h2>
        {% endif %}
        {% endif %}
    </div>
</body>
</html>